<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/auth/css/login.css}">
</head>
<body>
<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
  <div class="form-container">
    <h2 class="text-center mb-4">Login</h2>
    <form id="loginForm" th:action="@{/login}" method="post" th:object="${loginRequest}">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email"placeholder="Enter your email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary shadow-none">Sign In</button>
      </div>
      <div class="text-center mt-3">
        <a href="#" class="text-decoration-none">Forgot your password?</a>
      </div>
    </form>
  </div>
</div>

<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/auth/js/login.js}"></script>
</body>
</html>
