<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{register.title}">Register</title>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/auth/css/register.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-6 bg-image">
            <div class="overlay">
                <div class="overlay-content">
                    <h1 th:text="#{register.welcome.title}"></h1>
                    <p th:text="#{register.welcome.message1}"></p>
                    <p th:text="#{register.welcome.message2}"></p>
                    <p>
                        <span th:text="#{register.welcome.message3}">If you have any questions, feel free to </span>
                        <a th:href="'mailto:tunarasimocak@gmail.com'" th:text="#{register.welcome.contact}">contact our support team</a>.
                    </p>
                    <div class="icon-group">
                        <p class="icon-text"><i class="fas fa-microphone"></i> <span th:text="#{register.icon.feedback}"></span></p>
                        <p class="icon-text"><i class="fas fa-envelope"></i> <span th:text="#{register.icon.email}"></span> <a href="mailto:tunarasimocak@gmail.com">tunarasimocak@gmail.com</a></p>
                    </div>
                </div>
                <div class="large-icon-overlay">
                    <i class="fas fa-bullhorn"></i>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="form-container">
                <h2 id="signup-title" class="text-center mb-4" th:text="#{register.title}"></h2>
                <div id="alertMessage" class="alert d-none">
                    <span th:text="#{register.mustbeaccept}"></span>
                </div>
                <form id="registerForm" th:action="@{/register}" method="post" th:object="${registrationRequest}">
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input type="text" class="form-control" id="username" name="username" th:field="*{username}" th:placeholder="#{register.username.placeholder}"
                               th:classappend="${#fields.hasErrors('username')} ? 'input-error' : ''">
                        <div class="error-message" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                               th:placeholder="#{register.email.placeholder}" th:classappend="${#fields.hasErrors('email')} ? 'input-error' : ''">
                        <div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        <input type="password" class="form-control" id="password" name="password" th:field="*{password}"
                               th:placeholder="#{register.password.placeholder}" th:classappend="${#fields.hasErrors('password')} ? 'input-error' : ''">
                        <div class="error-message" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="interests" class="form-label" th:text="#{register.interests.label}"></label>
                        <div id="interests" class="interests-container">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest1" name="interests" th:field="*{interests.activities}" value="Software">
                                <label class="form-check-label" for="interest1" th:text="#{register.interests.software}"></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest2" name="interests" th:field="*{interests.activities}" value="Technology">
                                <label class="form-check-label" for="interest2" th:text="#{register.interests.technology}"></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest3" name="interests" th:field="*{interests.activities}" value="Gaming">
                                <label class="form-check-label" for="interest3" th:text="#{register.interests.gaming}"></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest4" name="interests" th:field="*{interests.activities}" value="Music">
                                <label class="form-check-label" for="interest4" th:text="#{register.interests.music}"></label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="interest5" name="interests" th:field="*{interests.activities}" value="Art">
                                <label class="form-check-label" for="interest5" th:text="#{register.interests.art}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        <input type="tel" class="form-control" id="phonenumber" name="phonenumber" th:field="*{phonenumber}"
                               th:placeholder="#{register.phoneNumber.placeholder}" th:classappend="${#fields.hasErrors('phonenumber')} ? 'input-error' : ''">
                        <div class="error-message" th:if="${#fields.hasErrors('phonenumber')}" th:errors="*{phonenumber}"></div>
                    </div>
                    <div class="mb-3 input-group">
                        <span class="input-group-text"><i class="fab fa-discord"></i></span>
                        <input type="text" class="form-control" id="discordid" name="discordid" th:field="*{discordid}" placeholder="Enter your Discord ID"
                               th:placeholder="#{register.discordId.placeholder}" th:classappend="${#fields.hasErrors('discordid')} ? 'input-error' : ''">
                        <div class="error-message" th:if="${#fields.hasErrors('discordid')}" th:errors="*{discordid}"></div>
                    </div>
                    <div class="mb-3">
                        <div class="terms-container">
                            <input class="terms-input" type="checkbox" id="terms">
                            <label class="terms-label" for="terms">
                                <span th:text="#{register.terms.label}"></span>
                                <a href="YOUR_TERMS_AND_CONDITIONS_URL" class="text-decoration-none" th:text="#{register.terms.link}"></a>
                            </label>
                        </div>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary shadow-none" th:text="#{register.signUp.button}"></button>
                    </div>
                    <div class="text-center mt-3">
                        <a th:href="@{/login}" class="text-decoration-none" th:text="#{register.signIn.link}"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js}"></script>
<script th:src="@{auth/js/register.js}"></script>
</body>
</html>