<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Discord-Servers</title>
    <link rel="stylesheet" th:href="@{/general/servers/css/servers.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}">
</head>
<body>

<main class="main-content container" layout:fragment="content">
    <section class="server-list">
        <h1>Discord Servers</h1>
        <p>
            Here you can view and manage all the Discord servers where the Moderation Bot is active.
        </p>

        <div th:if="${#lists.isEmpty(servers)}" class="no-servers-message">
            <p>No servers available at the moment.</p>
        </div>

        <div th:unless="${#lists.isEmpty(servers)}" class="row">
            <div class="col-md-4" th:each="server : ${servers}">
                <div class="server-card">
                    <img th:src="${server}" alt="Server Image">
                    <div class="server-card-body">
                        <div class="server-card-title" th:text="${server.name}">Server Name</div>
                        <a href="#" th:href="@{/servers/manage-modules/{serverId}(serverId=${server.id})}" class="btn btn-primary btn-manage">
                            Manage Modules
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
