body {
    background: linear-gradient(to right, #ef32d9, #89fffd);
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
}


h2 {
    font-weight: 600;
    color: #333;
    margin-bottom: 25px;
    font-size: 28px;
    background: linear-gradient(to right, #ef32d9, #89fffd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.input-group {
    display: flex;
    align-items: center;
}

.input-group-text {
    background-color: #ef32d9;
    color: #fff;
    border: none;
    border-radius: 10px 0 0 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.custom-form-control {
    height: 50px;
    font-size: 16px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    flex: 1;
}

.custom-form-control:focus {
    border-color: #ef32d9;
    box-shadow: 0 0 8px rgba(239, 50, 217, 0.3);
}

.custom-btn-primary {
    background-color: #ef32d9;
    border-color: #ef32d9;
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    padding: 0 20px;
    transition: background-color 0.3s, border-color 0.3s;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.custom-btn-primary::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.3);
    transition: transform 0.4s ease;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    z-index: 0;
}

.custom-btn-primary:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.custom-btn-primary:hover,
.custom-btn-primary:focus,
.custom-btn-primary:active {
    background-color: #d028c5;
    border-color: #d028c5;
}

.custom-link {
    color: #6a04ff;
}

.custom-link:hover {
    text-decoration: underline;
    color: #ef32d9;
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    display: none;
}

.success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
}