body {
    background: linear-gradient(to right, #ef32d9, #89fffd);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 55px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    font-weight: bold;
}

.form-label {
    font-weight: 500;
}

.form-control {
    height: 50px;
    font-size: 18px;
    padding: 20px;
    border: 2px solid #ccc;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #ef32d9;
    outline: none;
    box-shadow: inset 0 -1px 0 #ddd;
}

.btn-primary {
    background-color: #ef32d9;
    border-color: #ef32d9;
    transition: all 0.3s;
    height: 50px;
    font-size: 18px;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #d028c5 !important;
    border-color: #d028c5 !important;
}

.btn-primary:hover {
    background-color: #d028c5;
    border-color: #d028c5;
}

.text-decoration-none:hover {
    text-decoration: underline;
}

.bg-image {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/06/19/15/woman-1958723_1280.jpg'); /* Example image */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.overlay {
    background: rgba(239, 50, 217, 0.5);
    width: 100%;
    height: 109%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding: 0;
}


.alert {
    display: none;
    margin-bottom: 1rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert.show {
    display: block;
}
.alert.hidden {
    opacity: 0;
    transition: opacity 1s;
}


.required-field {
    border-color: #e74c3c;
}

.required-field:focus {
    border-color: #e74c3c;
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

.error-message {
    color: #e74c3c;
    font-size: 14px;
    margin-top: 5px;
}

.input-error {
    border: 2px solid #e74c3c;
}

.input-error + .error-message {
    display: block;
}

.form-check {
    margin-bottom: 10px;
}

.form-check-input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid #6c757d;
    transition: background-color 0.3s, border-color 0.3s;
}

.form-check-input:checked {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.form-check-label {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.form-check-label:hover {
    color: #6f42c1;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #6f42c1;
}


.form-container {
    padding: 40px;
    margin-top: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

